.sidebar.collapsed {
  /* display: none; */
}
.main-exam-container {
}
.exam-icon {
  font-size: 25px;
}
.top-nav-exam {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
}
.bottom-nav-exam {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  border-top: 1px solid var(--border-color);
}
.exam-container {
  display: flex;
  padding: 40px;
  gap: 40px;
  max-width: 1200px;
  margin: 0;
  height: 80vh;
  font-family: sans-serif;
}

.question-column,
.choices-column {
  flex: 1;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.choices-column {
}
.question-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.progress {
  font-weight: bold;
  margin-bottom: 12px;
}

.question-text {
  font-size: 20px;
  margin: 24px 0;
}

.mark-btn {
  background: #ffd700;
  border: none;
  padding: 10px 16px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 10px;
}

.choice {
  background-color: white;
  border: 2px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.choice:hover {
  border-color: #555;
}

.choice.selected {
  background-color: #d6eaff;
  border-color: #007bff;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: rgb(81, 43, 43);
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.nav-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
