.toggle-container {
  display: inline-flex;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  overflow: hidden;
  user-select: none;
  margin-top: 20px;
}

.toggle-option {
  flex: 1;
  padding: 8px 0;
  text-align: center;
  transition: color 0.3s ease;
  z-index: 2;
}

.toggle-option.active {
  color: white;
}

.toggle-highlighter {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color); /* Primary blue */
  border-radius: 4px;
  transition: transform 0.3s ease;
  z-index: 1;
}
